Django~=2.2
openpyxl==2.4.8
lxml==4.6.2
plotly==4.5.0
boto3==1.12.16
requests==2.23.0
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-cloud-logging
google-cloud-error-reporting
google-cloud-datastore
markdown
pillow
