Django~=2.2
openpyxl==2.4.8
lxml==4.9.1
plotly==4.5.0
boto3==1.12.16
requests==2.23.0
google-cloud-core
google-cloud-storage
google-cloud-logging
google-cloud-error-reporting
google-cloud-datastore
markdown
pillow
