{% extends "songbird/base.html" %}

{% block head %}
<link href="/static/css/timeline.css" rel="stylesheet">
{% endblock %}

{% block content %}
<ul class="timeline left-axis">
    {% for branch in branches %}
    <div class="vertical-line line-{{ forloop.counter }} line-{{ forloop.counter }}-bg"></div>
    <div class="title line-{{ forloop.counter }} line-{{ forloop.counter }}-color">
        <strong>{{ branch }}</strong>
    </div>
    {% endfor %}
    {% for commit in commits %}
    <li>
        <div class="timeline-badge line-{{ commit.branch }}-indent line-{{ commit.branch }}-bg">
            <img src="{{ commit.badge }}"
                class="img-responsive img-circle"/>
        </div>
        <div class="horizontal-line line-{{ commit.branch }}-indent line-{{ commit.branch }}-bg"></div>
        {% if commit.merge %}
        <div class="merge-{{ commit.merge.from }} right-{{ commit.merge.right }} merge-col-{{ commit.merge.span }}"></div>
        {% endif %}
        <div class="timeline-panel line-{{ commit.branch }}-color">
            {{ commit.title }}
            <div class="pull-right">
                {{ commit.time }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}