body {
    overflow-y: auto;
    padding-top: 50px;
}

a.trackVisited:visited {
    color: gray;
}

a.no-link {
    pointer-events: none;
    cursor: default;
}

.position-relative {
    position: relative;
}
.top-right-message{
    position: absolute;
    right: 0;
    left: auto;
    z-index: 100;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.spaceVertical20px {
    height: 20px;
}
.spaceVertical100px{
    height: 100px;
}

/* File upload elements */
.fileUploadWrap {
    position: relative;
    overflow: hidden;
}
.fileUploadWrap input#fileUpload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bar {
    height: 5px;
    background: cornflowerblue;
}


.large-icon{
    font-size: 50px;
}