/* Timeline */
.timeline {
    list-style: none;
    padding: 0 0 20px;
    position: relative;
}

/* This will draw a vertical line */
.vertical-line{
    top: 0;
    bottom: 0;
    position: absolute;
    width: 3px;
    margin-right: -1.5px;
}

/* Color */
.timeline .line-1-color{
    color: mediumpurple;
}
.timeline .line-2-color{
    color: dodgerblue;
}
.timeline .line-3-color{
    color: limegreen;
}
.timeline .line-1-bg{
    background-color: mediumpurple;
}
.timeline .line-2-bg{
    background-color: dodgerblue;
}
.timeline .line-3-bg{
    background-color: limegreen;
}
/* Location */
.vertical-line.line-1{
    margin-left: 200px;
    margin-top: 30px;
}
.vertical-line.line-2{
    margin-left: 150px;
    margin-top: 60px;
}
.vertical-line.line-3{
    margin-left: 100px;
    margin-top: 90px;
}

/* Title */
.timeline .title{
    text-align: right;
    line-height: 30px;
}
.title.line-1{
    margin-right: calc( 100% - 210px );
}
.title.line-2{
    margin-right: calc( 100% - 160px );
}
.title.line-3{
    margin-right: calc( 100% - 110px );
}

/* Set margins between panels */
.timeline > li {
    margin-top: 15px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}

/* Badge */
.timeline > li .timeline-badge {
    line-height: 30px;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
/* Text size inside the badge */
.timeline > li .timeline-badge p{
    font-size: 1.0em;
}
/* Icon size inside the badge */
.timeline > li .timeline-badge i{
    font-size: 1.4em;
}
/* Badge positions */
.timeline .line-1-indent {
    left: 186px;
}
.timeline .line-2-indent {
    left: 136px;
}
.timeline .line-3-indent {
    left: 86px;
}

/* Connecting line */
.timeline .horizontal-line {
    position: absolute;
    height: 3px;
    top: 14px;
    right: calc(100% - 263px);
    z-index: 1;
}

/* Merge */
.timeline .merge-1 {
    height: 100%;
    position: absolute;
    background-color: Thistle;
    z-index: 0
}
.timeline .merge-2 {
    height: 100%;
    position: absolute;
    background-color: lightblue;
    z-index: 0
}
.timeline .merge-3 {
    height: 100%;
    position: absolute;
    background-color: lightgreen;
    z-index: 0
}
.timeline .merge-col-1 {
    width: 50px;
}
.timeline .merge-col-2 {
    width: 100px;
}
.timeline .right-1 {
    right: calc(100% - 200px);
}
.timeline .right-2 {
    right: calc(100% - 150px);
}
.timeline .right-3 {
    right: calc(100% - 100px);
}

/* Panel border and shadow */
.timeline > li .timeline-panel {
    border: 1px solid #999999;
    border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}


/* Panel width */
.timeline.left-axis > li .timeline-panel {
    width: calc( 100% - 275px );
    float: right;
    padding-top: 3px;
    padding-left: 5px;
    min-height: 30px;
}


/* Draw the little triangles */
.timeline > li .timeline-panel:before {
    position: absolute;
    top: -1px;
    display: inline-block;
    content: " ";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.timeline > li .timeline-panel:after {
    position: absolute;
    top: 0px;
    display: inline-block;
    content: " ";
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}
/* Triangle on the left of the panel */
.timeline.left-axis > li .timeline-panel:before {
    left: -15px;
    border-right: 15px solid #999999;
    border-left: 0 solid #999999;
}
.timeline.left-axis > li .timeline-panel:after {
    left: -14px;
    border-right: 14px solid #fff;
    border-left: 0 solid #fff;
}

@media (max-width: 460px) {
    .timeline {
        padding:0px;
    }

    /* Panel width */
    .timeline > li .timeline-panel {
        width: calc(100% - 25px)!important;
        width: -moz-calc(100% - 25px)!important;
        width: -webkit-calc(100% - 25px)!important;
    }
    .timeline.left-axis > li .timeline-panel {
        margin-top: 40px;
    }

    /* Hide triangles */
    .timeline.left-axis > li .timeline-panel:before {
        display:none;
    }
    .timeline.left-axis > li .timeline-panel:after {
        display:none;
    }
}
