{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Swan's Footprint</h1>
<h2>Journeys</h2>
<div class="row">
    {% for entry in journeys %}
    <div class="col-md-3 md-container">
        <div class="md-raised-6px full-height">
            {% if entry.image %}
            <div class="md-image">
                <img class="img-fluid" src="{{ entry.image }}" border="0" alt="">
                <div class="spacer-15px"></div>
            </div>
            {% endif %}
            <div class="md-text">
                <h4>{{ entry.title }}</h4>
                <small><i>{{ entry.date }}</i></small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h2>Destinations</h2>
<div class="row">
    {% for entry in destinations %}
    <div class="col-md-3 md-container">
        <div class="md-raised-6px full-height">
            {% if entry.image %}
            <div class="md-image">
                <img class="img-fluid" src="{{ entry.image }}" border="0" alt="">
                <div class="spacer-15px"></div>
            </div>
            {% endif %}
            <div class="md-text">
                <h4>{{ entry.title }}</h4>
                <small><i>{{ entry.date }}</i></small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}