<div class="md-raised-6px full-height">
    {% if entry.image %}
    <div class="md-image">
        <img class="img-fluid" src="{{ entry.image }}" border="0" alt="">
        <div class="spacer-15px"></div>
    </div>
    {% endif %}
    <div class="md-text">
        <h4>
            {% if entry.link %}
            <a href="{% url 'nest:page' entry.link %}">{{ entry.title }}</a>
            {% else %}
            {{ entry.title }}
            {% endif %}
        </h4>
        <small>
            <i>{{ entry.date }}</i>
        </small>
    </div>
</div>