<div style="background-color: #311B92;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #311B92;">
            <a class="navbar-brand" href="/">Qiu's Nest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nest:rhythm' 'swift' %}"> Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nest:rhythm' 'skylark' %}"> Gallery </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nest:rhythm' 'swan' %}"> Footprint </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'nest:rhythm' 'sparrow' %}"> Work </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nest:page' 'about' %}"> About </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

