{% extends "nest/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'nest/latex.css' %}" />
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="paper-content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 latex-font">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h2>Qiu Qin</h2>
            </div>
            <div class="mdl-cell mdl-cell--6-col text-right">
                <p>
                    {% for line in address %}
                        {{ line }}<br />
                    {% endfor %}
                </p>
            </div>
        </div>
        <h5>Experience</h5>
        <div class="mdl-grid">
        {% for ex in experience %}
            <div class="mdl-cell mdl-cell--6-col">
                <p>
                    {{ ex.position }}<br />
                    {{ ex.employer }}
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col text-right">
                <p>
                    {{ ex.time }}<br />
                    {{ ex.location }}
                </p>
            </div>
        {% endfor %}
        
        <h5>Education</h5>
        <div class="mdl-grid">
        {% for edu in education %}
            <div class="mdl-cell mdl-cell--6-col no-spacing">
                <p class="no-spacing">
                    {{ edu.degree }} {{ edu.major }}<br />
                    {{ edu.school }}
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col text-right no-spacing">
                <p class="no-spacing">
                    {{ edu.time }}<br />
                    {{ edu.location }}
                </p>
            </div>
            <div class="mdl-cell mdl-cell--12-col no-spacing">
                <p class="no-spacing">
                    {% for line in edu.description %}
                        {{ line }}<br />
                    {% endfor %}
                </p>
            </div>
            <hr />
        {% endfor %}
        </div>
        <h5>Publications</h5>
        {% for publication in publications %}
        <p>{{ publication }}</p>
        {% endfor%}
    </div>
</div>
{% endblock %}