<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Qiu's Bird Nest</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <link rel="stylesheet" href="{% static 'nest/site.css' %}" />
    <link rel="stylesheet" href="{% static 'nest/carousel.css' %}" />
    <script src="{% static 'basic/jquery.min.js' %}"></script>
    <script src="{% static 'basic/bootstrap.min.js' %}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    {% block head %} 
    {% endblock %}
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Qiu's Bird Nest</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% include "nest/mdl_nav.html" %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Qiu's Bird Nest</span>
            <nav class="mdl-navigation">
                {% include "nest/mdl_nav.html" %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            {% block content %} 
            {% endblock %}
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; 2016 - Qiu Qin</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="{% url 'nest:markdown' 'privacy' %}">Privacy</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    
</body>
</html>
