<!DOCTYPE html>
{% load staticfiles %}
{% load aries_tags %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Qiu's Bird Nest</title>
    <meta name="description" content="{{ description }}"/>
    {{ request|canonical_link_tag|safe }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/material.css' %}" />
    <link rel="stylesheet" href="{% static 'nest/commons.css' %}" />

    <link rel="stylesheet" href="{% static 'nest/aquarius.css' %}" />
    <link rel="stylesheet" href="{% static 'nest/aquarius_mdl.css' %}" />

    {% block head %} 
    {% endblock %}
</head>

<body>
{% include "nest/components/nav_bar.html" %}

{% block container %} 
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% endblock container %}


<footer class="footer">
    <div class="container">
        <p class="text-muted">
            &copy; 2015-2020
            <a href="{% url 'nest:page' 'about' %}">Qiu Qin</a>.
            <a href="{% url 'nest:page' 'privacy' %}">Privacy Policy</a>
        </p>
    </div>
</footer>
    
</body>
</html>
