{% extends "nest/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'cmu-serif/cmun-serif.css' %}" />
{% endblock %}

{% block container %}
<div class="nest-blue-ribbon"></div>
<div class="spacer-15px"></div>
<div class="container cmu-serif">
    <div class="page md-raised-6px">
        <div class="row">
            <div class="col-md-6"><h1>Qiu Qin</h1></div>
            <div class="col-md-6 text-right">
                <p>
                    {% for line in address %} {{ line }}
                    <br /> {% endfor %}
                </p>
            </div>
        </div>
        <h3>Experience</h3>
        <div class="row">
            {% for ex in experience %}
                <div class="col-md-1" style="padding-top: 10px">
                    <img src="/static/images/cv/{{ex.image}}" class="img-fluid"/>
                </div>
                <div class="col-md-8">
                    <p>
                        {{ ex.position }}<br />
                        {{ ex.employer }}
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        {{ ex.time }}<br />
                        {{ ex.location }}
                    </p>
                </div>
                <div class="spacer-15px"></div>
            {% endfor %}
        </div>
        <div class="spacer-15px"></div>
        <div class="spacer-15px"></div>
        <h3>Education</h3>
        <div class="row">
        {% for edu in education %}
            <div class="col-md-1" style="padding-top: 10px">
                <img src="/static/images/cv/{{edu.image}}" class="img-fluid"/>
            </div>
            <div class="col-md-8">
                <p>
                    {{ edu.degree }} {{ edu.major }}<br />
                    {{ edu.school }}
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    {{ edu.time }}<br />
                    {{ edu.location }}
                </p>
            </div>
            <div class="col-md-11 offset-1">
                <ul>
                    {% for line in edu.description %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
        <div class="spacer-15px"></div>
        <div class="spacer-15px"></div>
        <h3>Peer Reviewed Publications</h3>
        <div class="row">
            {% for publication in publications %}
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p>{{ publication }}</p>
            </div>
            {% endfor%}
        </div>
        
    </div>
</div>
{% endblock %}
