{% extends "nest/base.html" %}
{% block content %}

<div id="myCarouselWrapper" class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            {% for i in carousel_data %}
            {% if forloop.counter == 1 %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for entry in carousel_data %}
            {% if forloop.counter == 1 %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
            <img src="{{ entry.image }}" alt="" class="img-responsive" />
                <div class="carousel-caption">
                    <p>
                        {{ entry.key }} - {{ entry.description}} <br />
                        <small>Photo by Qiu, {{ entry.date }}</small>
                    </p>
                    <a class="mdc-button mdc-button--accent mdc-button--raised" href="{{ entry.link }}">
                        Learn More
                    </a>
                    <p></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="page-content">
    <div class="mdl-grid" id="myBirds">
        {% for bird in birds %}
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <img class="img-responsive" src="{{ bird.image }}" alt="" />
                    <div class="mdl-card__media-title">
                        {{ bird.name }}
                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ bird.description }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ bird.link }}">
                        More
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function () {
        // set image wraper initial height
        var imageHeight = $('header').outerWidth() * 700 / 1920 / 2;
        $("#myCarouselWrapper").css({
            'height': imageHeight + 'px'
        });
    });

    $(window).resize(function () {
        setImageHeight();
    });

    $(window).ready(function () {
        // Slide down and fade in
        setTimeout(function () {
            // Animate image height
            // Mininum height is set to 280px in css.
            var imageHeight = Math.max(280, $('header').outerWidth() * 700 / 1920);
            $("#myCarouselWrapper").animate({
                height: imageHeight + 'px'
            }, 1000, function () {
                $("#myCarousel").animate({
                    opacity: "1"
                }, 1000);
            });
        }, 1000);
    })

    function setImageHeight() {
        // Set the height of the carousel image.
        // Mininum height is set to 280px in css.
        var imageHeight = Math.max(280, $('header').outerWidth() * 700 / 1920);
        $("#myCarouselWrapper").css({
            'height': imageHeight + 'px'
        })
    }
</script>
{% endblock %}