{% extends "nest/base.html" %}
{% load staticfiles %}

{% block container %}
<div class="container-fluid">

<div id="myCarouselWrapper" class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            {% for i in carousel_data %}
            {% if forloop.counter == 1 %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for entry in carousel_data %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
            <img src="{{ entry.image }}" alt="" class="d-block img-fluid" />
                <div class="carousel-caption">
                    <p>
                        {{ entry.key }} - {{ entry.description}} <br />
                        <small>Photo by Qiu, {{ entry.date }}</small>
                    </p>
                    <a class="btn btn-sm btn-default" href="{{ entry.link }}">
                        More
                    </a>
                    <p></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setImageHeight();
    });

    $(window).resize(function () {
        setImageHeight();
    });

    $(window).ready(function () {
        setTimeout(function () {
            $("#myCarousel").animate({
                opacity: "1"
            }, 1000);
        }, 1000);
    })

    function setImageHeight() {
        // Set the height of the carousel image.
        // Mininum height is set to 280px in css.
        var imageHeight = Math.max(280, $('header').outerWidth() * 700 / 1920);
        $("#myCarouselWrapper").css({
            'height': imageHeight + 'px'
        })
    }
</script>
{% endblock %}