{% extends "nest/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'nest/markdown.css' %}" />
{% endblock %}

{% block container %}
<div class="nest-blue-ribbon"></div>
<div class="spacer-15px"></div>
<div class="container">
    <div class="page markdown md-raised-6px">
        {{ html_content|safe }}
    </div>
</div>

<script>
    $(document).ready(function() {
        // The ".ajax-page-component" class is used in the page for additional components that 
        // require separated data requests.
        $(".ajax-page-component").each(function(index, element) {
            var url = "/render/" + $(element).data("template") + "/data/" + $(element).data("context") + "/";
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onload = function (e) {
                if (xhr.response.length) {
                    $(element).html(xhr.response);
                } else {
                    $(element).text("Invalid Response.");
                    $(element).addClass("text-danger");
                }
            };
            xhr.onerror = function () {
                $(element).text("Request Failed (" + xhr.statusText + "): ");
                $(element).addClass("text-danger");
            };
            xhr.send();
        });
    });
</script>
{% endblock %}