{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="spacer-15px"></div>
<h1>The Skylark Gallery</h1>
<div class="row">
    {% for collection in collections %}
    <div class="col-md-4" style="padding: 7px 7px;">
        <div class="md-raised-6px no-margin no-padding">
            <div>
                <img class="img-fluid" src="/static/images/skylark/home/Medium_{{ collection.image }}" border="0" alt="">
            </div>
            <div class="spacer-15px"></div>
            <div class="text-center">
                <h5>
                    {% if collection.key %}
                    <a class="" href="{% url 'nest:skylark_collection' collection.key %}">
                        {{ collection.title }}
                    </a>
                    {% else %}
                        {{ collection.title }}
                    {% endif %}
                </h5>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    

{% endblock %}