{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="mdl-grid content-center">
    <div class="mdl-cell mdl-cell--12-col">
        <h1>The Skylark Gallery - {{ title }}</h1>
    </div>
    {% for photo in photos %}
    <div class="mdl-cell mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media">
            <img class="img-fluid" src="/static/images/skylark/{{ key }}/{{ photo.image }}" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <div class="mdl-grid mdl-grid--no-spacing" style="width: 100%">
                <h2 class="mdl-card__title-text">{{ photo.title }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}