{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'nest/timeline.css' %}" />
<link rel="stylesheet" href="{% static 'nest/bs_label.css' %}" />
<link rel="stylesheet" href="{% static 'nest/astrology.css' %}" />
{% endblock %}

{% block content %}
<div class="content-center">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--6-col">
            {% include "nest/components/projects_card.html" with card=work_card %}
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            {% include "nest/components/astrology_card.html" with card=astrology_card %}
        </div>
    </div>
</div>
{% endblock %}