{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Swan's Footprint</h1>
<h2>Journeys
<small class="text-muted"><i>Traveling to infinity...</i></small>
</h2>
<div class="row">
    <div class="col-md-9 md-container">
        {% include "nest/cards/card_swan.html" with entry=journeys.0 %}
    </div>
    <div class="col-md-3 md-container">
        {% include "nest/cards/card_swan.html" with entry=journeys.1 %}
    </div>
</div>
<div class="row" id="swan-journeys">
    {% for entry in journeys|slice:"2:6" %}
    <div class="col-md-3 md-container">
        {% include "nest/cards/card_swan.html" %}
    </div>
    {% endfor %}
</div>
<div class="text-center" id="load-more-journeys" style="padding-top: 10px;">
    <button class="btn btn-sm btn-outline-primary" style="cursor:pointer" onclick="loadMoreJourneys();">Load More...</button>
</div>

<h2>Memories</h2>
<div class="row">
    {% for entry in featured %}
    <div class="col-md-3 md-container">
        {% include "nest/cards/card_swan.html" %}
    </div>
    {% endfor %}
</div>


<h2>
    Destinations
    <small class="text-muted"><i>where I once called home...</i></small>
</h2>
<div class="row">
    {% for entry in destinations %}
    <div class="col-md-3 md-container">
        {% include "nest/cards/card_swan.html" %}
    </div>
    {% endfor %}
</div>

<script>
    function loadMoreJourneys() {
        var journeys_div = $("#swan-journeys")
        // The starting index for loading journeys (0-based)
        var start = journeys_div.children().length + 2;
        // The number of journeys to be loaded
        var size = 8;
        $.getJSON("/swan/journeys/" + start + "/" + size + "/", function (data) {
            if (data.html.length) {
                journeys_div.append(data.html);
            }
            if (!data.more) {
                // Hide the "Load More" button if there is no more journeys.
                $("#load-more-journeys").addClass("d-none");
            }
        })
    }
</script>
{% endblock %}