{% extends "nest/base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<div class="spacer-15px"></div>
<h1>The Swift Blog</h1>
<div class="row">
    {% for blog in blogs %}
    <div class="{{ blog.class }} md-container">
        <div class="md-raised-6px full-height">
            {% if blog.image %}
            <div class="md-image">
                <img class="img-fluid" src="{{ blog.image }}" border="0" alt="">
                <div class="spacer-15px"></div>
            </div>
            {% endif %}
            <div class="md-text">
                <h4><a href="{% url 'nest:page' blog.name %}">{{ blog.title }}</a></h4>
                {% if blog.date %}
                <small><i>{{ blog.date }}</i></small>
                {% endif %}
                <p>{{ blog.summary }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}