{% extends "nest/base.html" %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'nest/timeline.css' %}" />
<link rel="stylesheet" href="{% static 'nest/bs_label.css' %}" />
{% endblock %}

{% block content %}
<div class="page-content">
    <h3>{{ title }}</h3>
    <ul class="timeline left-axis">
        {% for event in events %}
            <li>
                <a href="{% url 'nest:page' event.name %}">
                    <div class="timeline-badge mdl-shadow--2dp">
                        {% if event.icon %}
                        <img src="{% static image_location|add:event.icon %}" />
                        {% else %}
                        <p>{{ event.year }}</p>
                        {% endif %}
                    </div>
                </a>
                <div class="timeline-panel mdl-shadow--2dp">
                    <h4 class="no-spacing"><a href="{% url 'nest:page' event.name %}">{{ event.name }}</a></h4>
                    <div>
                        {% for tag in event.tags %}
                        <span class="label label-primary">{{ tag }}</span>
                        {% endfor %}
                    </div> 
                    <div>
                        <p>{{ event.summary }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}