/* Heading size */
h1 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 10px; 
}

h2 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px; 
}

h3 {
    font-size: 22px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

h4 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* Paragraph */
p {
    margin-top: 10px;
    margin-bottom: 0;
}

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Wrapping element */
/* Set the width and some basic padding to keep content from hitting the edges */
.content-bs-fix-nav {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-center {
    max-width: 1250px;
    margin: 0 auto;
}

.content-paper {
    width: 850px;
    border-radius: 2px;
    padding: 50px 100px;
    margin: 30px auto;
    text-align: justify;
}
@media (max-width: 900px) {
    .content-paper {
        width: auto;
        padding: 30px 20px;
        margin: 10px 10px;
    }
}

.content-narrow {
    max-width: 800px;
    margin: 0 auto;
}

/* Spacing */
.no-spacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.spacer-15px {
    height: 15px;
}

/* Image */
.image-wrapper {
    position:relative;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-full-width {
    width: 100%;
}

.image-caption {
    position: absolute;
    z-index: 10;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    left: 0%;
    bottom: 15px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px 3px rgba(255, 240, 160, 0.60);
}

.image-caption p {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0px;
}

/* Quotes */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  font-weight: normal;
  font-size: small;
}

/* Fade when mouse over*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

/* Clear Fix from bootstrap */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

/* Text Position */
.text-right,
.text-right-desktop {
    text-align: right;
}
@media (max-width: 900px) {
    .text-right-desktop {
        text-align: left;
    }
}