/* Astrology Color */

.timeline-badge.Taurus {
    background-color: darkorange !important;
}

.timeline-badge.Gemini {
    background-color: mediumpurple !important;
}

.timeline-badge.Libra {
    background-color: lightsteelblue !important;
}

.timeline-badge.Sagittarius {
    background-color: slategray !important;
}

.timeline-badge.Capricorn {
    background-color: cornflowerblue !important;
}

.timeline-badge.Aries {
    background-color: darkorchid !important;
}

.timeline-badge.Virgo {
    background-color: forestgreen !important;
}
