.md-tab-content-with-border {
    padding: 10px 15px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #cccccc;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 3px 6px rgba(0,0,0,.2);
            box-shadow: 0 3px 6px rgba(0,0,0,.2);
}

.md-raised-6px { 
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
       -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.md-raised-6px-addon {
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #cccccc;
}

.md-border {
    padding-top: 10px;
    border-top: 1px solid #cccccc;
}

.md-image {
    margin: -10px -15px;
}

.md-text {
    padding-top: 15px;
    text-align: justify;
}

.md-container {
    padding: 7px 7px;
}